# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
.DS_Store

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS files
.DS_Store


# Add any other files or directories you want to ignore
